{% extends 'layout.html.jinja2'%}

{% block title %}
Blog
{% endblock title %}

{% block content_title %}
<h2>Edit this post</h2>
{% endblock content_title %}

{% block content %}

<form method="post">

    {{form.title.label(class="control-label")}} {{form.title(class="form-control")}}
    {{form.body.label(class="control-label")}} {{form.body(class="form-control")}}

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

</form>

{% endblock content %}