{% extends 'layout.html.jinja2' %}

{% block title %}
Blog
{% endblock title %}

{% block content_title %}
{% endblock content_title %}

{% block content %}

    <div class="row mb-3">

        <div class="content col-11">
            <h2>{{post.title}}</h2>
            <p>{{post.body}}</p>
        </div>

        <div class="control col-1">
            <a class="btn btn-secondary" href="{{url_for('blog.edit_post', slug=post.slug)}}" role="button">Edit</a>
        </div>

    </div>


    <div class="tags mb-3">
        {% if tags%}
            {% for tag in tags %}
                <a href="{{url_for('blog.view_tag', slug=tag.slug)}}">
                    <span class="badge text-bg-primary">{{tag.name}}</span>
                </a>
            {% endfor %}
        {% endif %}
    </div>


{% endblock %}